# Default ignored files
/../../MyService /.idea/shelf/
/../../MyService /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../MyService /.idea/httpRequests/
# Datasource local storage ignored files
/../../MyService /.idea/dataSources/
/../../MyService /.idea/dataSources.local.xml
